# Курс по машинному обучению,   ВМК МГУ
# Pandas workbook

##Подготовка рабочей среды

Сначала установим нужные нам версии библиотек. Мы гарантируем, что в данных версиях задание будет корректно отрабатывать.

После установки нужных версий, **возможно,** нужно перезагрузить среду (runtime), но скорее всего вам это не понадобится


На скачивание файла и установку понадобится не более 5 минут.

<font color='OrangeRed'>**Важно!**</font>

Устанавливать нужные версии нужно каждый раз, когда создается новый рантайм. Например, если вы 2 часа подряд делаете это задание, то подготовить библиотеки достаточно 1 раз. Но если вы, например, начали в понедельник, затем закрыли/выключили ноутбук, то при продолжении в среду, вам нужно будет запустить рантайм заново и следовательно заново установить библиотеки.

<font color='OrangeRed'>**Важно!**</font>
Если вы предпочитаете делать практические задания на своем личном ноутбуке, то проверьте, что вы установили рабочее окружение в [соответствии с гайдом](https://github.com/MSU-ML-COURSE/ML-COURSE-24-25/blob/main/tutorials/%D0%A2%D1%83%D1%82%D0%BE%D1%80%D0%B8%D0%B0%D0%BB%20%D0%BF%D0%BE%20%D1%83%D1%81%D1%82%D0%B0%D0%BD%D0%BE%D0%B2%D0%BA%D0%B5%20%D1%80%D0%B0%D0%B1%D0%BE%D1%87%D0%B5%D0%B3%D0%BE%20%D0%BE%D0%BA%D1%80%D1%83%D0%B6%D0%B5%D0%BD%D0%B8%D1%8F%20%D0%B2%20Python%20%D0%B4%D0%BB%D1%8F%20%D1%80%D0%B5%D1%88%D0%B5%D0%BD%D0%B8%D1%8F%20%D0%B7%D0%B0%D0%B4%D0%B0%D1%87%20(2).pdf)

In [ ]:
# !!! Данный блок будет работать только в Google-Colab !!!
! gdown 10k8Hwn9kpK9SpK4IEj4-EaWQZqgYT5-Q
! pip install -r /content/requirements_2024_25_for_colab_small.txt

Проверим версию библиотеки:

In [ ]:
import catboost
assert(catboost.__version__ == '1.2.7')

Теперь можно приступать к воркбуку!

---

<font color='CornflowerBlue'>**Pandas**</font> - основная библиотека для работы с данными, применяемая в классическом машинном обучении. В 90% учебных заданий вы будете так или иначе сталкиваться с ней. Также знание данной библиотеки может пригодиться как и в научной и промышленной деятельности, так и в повседневных задачках (например, когда лень что-то обсчитывать в формулах в Excel:)


С помощью встроенных инструментов <font color='CornflowerBlue'>**pandas**</font> можно легко:
- считывать табличные данные (в форматах csv, json, xlsx)
- представлять собственные данные в виде таблиц и сохранять их
- считать статистики
- визулизировать данные
- производить обработку данных
- и много всего еще...

#### Введение

Лучший способ изучить что-либо новое - это сразу закрепить знания практикой. В данном воркбуке мы предлагаем вам пойти следующим путем изучения библиотеки:

* Прочитать хотя бы один из предлагаемых туториалов по `pandas`
* Отработать навыки на примере предлагаемых нами данных

### Туториалы

https://tproger.ru/articles/gajd-po-obrabotke-dannyh-s-pomoshhyu-pandas-chast-pervaya

https://habr.com/ru/companies/ruvds/articles/494720/

https://education.yandex.ru/handbook/python/article/modul-pandas

Или любой другой понравившийся вам в интернете

[Читшит](https://pandas.pydata.org/Pandas_Cheat_Sheet.pdf)

[Документация](http://pandas.pydata.org/pandas-docs/stable/index.html)

[Pandas за 10 минут из официального руководства](http://pandas.pydata.org/pandas-docs/stable/10min.html)

[Примеры использования функционала](http://nbviewer.jupyter.org/github/justmarkham/pandas-videos/blob/master/pandas.ipynb)

### Тренировка

Предлагаем вам потренировать навыки применения `pandas` на примере одного из самых изветных и легендарных датасетов в машинном обучениии - [Titanic](https://www.kaggle.com/competitions/titanic). На этих данных начинающие свой путь в ML отрабатывают свои навыки, и мы не будем исключением.

Данные мы уже за вас скачали, вам остается только выполнить строчки ниже:

In [ ]:
! gdown 1ogTLPRGIGyD1QPLjNf9uk20q038pcw03

Downloading...
From: https://drive.google.com/uc?id=1ogTLPRGIGyD1QPLjNf9uk20q038pcw03
To: /content/titanic.csv
100% 61.2k/61.2k [00:00<00:00, 72.3MB/s]

In [ ]:
import pandas as pd # общепринятое сокращение

In [ ]:
df = pd.read_csv("/content/titanic.csv")
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

Исследуйте данные и тренируйте изученные методы применения `pandas` на примере этого датасета. Описание колонок можно найти [вот тут](https://www.kaggle.com/competitions/titanic/data?select=train.csv)

Например, попробуйте с помощью `pandas` ответить на следующие вопросы:

* Сколько записей о пассажирах находится в данных?
* Сколько столбцов в данных?
* Сколько было выживших и невыживших в абсолюте?
* Сколько из женщин выжило и сколько из мужчин выжило?
* Сколько выжило людей с билетами каждого из трех классов?
* Сколько было людей старше 50 лет?
* ии.. все те вопросы, которые сможете придумать из головы :)

Успехов!